*{
  margin: 0;
  padding: 0;
}

/* Style for scroll to top button */

.top-btn-position {
  text-align: center;
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 5;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background: #333;
  color: #fff;
  border: 2px solid #fff;
}

/* Photo Banner Styling */
.photo-banner {
  position: sticky;
  top: 0;
  z-index: -5;
}

/* Styles for navbar/header */

.mobile-socials {
  font-size: 10px;
}

@media screen and (min-width: 850px) {

  .mobile-socials{
   display: none;
  }
}

 @media screen and (max-width: 955px) {
  .second-navbar-email-phone{
    display: none;
  }
}